:{$PORT} {

  handle_path /api/* {
    reverse_proxy backopensign.railway.internal:8080
  }

  handle /app/files/* {
    reverse_proxy backopensign.railway.internal:8080
  }

  handle {
    root * /app/build
    try_files {path} /index.html
    file_server
  }
}
