:{$PORT} {

	# ✅ API -> backend (Parse mount is /app)
	handle_path /api/app/* {
		rewrite * /app{path}
		reverse_proxy backopensign.railway.internal:8080
	}

	# ✅ Files/PDFs -> backend (keep full path)
	handle /app/files* {
		header {
			Access-Control-Allow-Origin  *
			Access-Control-Allow-Methods "GET, OPTIONS"
			Access-Control-Allow-Headers "*"
		}
		reverse_proxy backopensign.railway.internal:8080
	}

	# ✅ Everything else -> frontend
	handle {
		reverse_proxy fe-open-sign.railway.internal:8080
	}
}
